{% extends "layout.html"%}

{% block body %}


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">منصة فالكون الرقمية</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">مجتمع او منظمة تهدف لرفع الوعي والثقافي للمجتمع العربي اجمع وايضا نهدف لتطوير افضل منصة عربيه توجد فيها كل احتياجات المبرمجين والمستخدمين </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="../static/img/BB.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/img/undraw_Real_time_sync_re_nky7.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6  text-center ">
        <h1 class="display-5 fw-bold lh-1 mb-3">تخيل معي اكثر </h1>
        <p class="lead">منصة كاملة توجد فيها جميع البرمجيات المدفوعة وتقدر تتخير منها الافضل والانسب لك </p>

      </div>
    </div>
  </div>


  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
 
      <div class="col-lg-6  text-center ">
        <h1 class="display-5 fw-bold lh-1 mb-3">لوحة تحكم سهله وبسيطه لمبرمجين & API </h1>
        <p class="lead">
          نظام  خاص لتطبيقك ويوجد امثلة باغلب اللغات البرمجية ، يتم حذف العضويات شهريا اليا بعد تفعيل الكوبون ! لا تشيل هم التنظيم علينا 
        </p>
  
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/img/undraw_Pitching_re_fpgk.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

   

</div>
   
   
{% endblock %}
